$primary-color: #4793FF;
$light-color: #000000;
$dark-color: #FFFFFF;
$base-color: #939CB0;

$light-background: #FFFFFF;
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$border-radius: 20px;

$body-background-dark: #0D1117;
$body-background-light: $light-background;

$components-background-dark: #4F4F4F;
$components-background-light: $light-background;

$card-background-dark: #2E3035;
$card-background-light: rgba(71, 147, 255, 0.2);

$card-box-shadow-dark: 0 3px 20px rgba(5, 5, 5, 0.28);
$card-box-shadow-light: 0 3px 20px rgba(147, 144, 144, 0.28);

:root {
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(#{--components-background-light});

  --card-background-dark: #{$card-background-dark};
  --card-background-light: #{$card-background-light};
  --card-background-default: var(#{--card-background-light});

  --card-box-shadow-dark: #{$card-box-shadow-dark};
  --card-box-shadow-light: #{$card-box-shadow-light};
  --card-box-shadow-default: var(#{--card-box-shadow-light});

  --text-color-dark: #{$dark-color};
  --text-color-light: #{$light-color};
  --text-color-default: var(#{--text-color-light});
}
